@using LiteratureProject.Core.Models
@model LiteratureProject.Core.Models.LiteratureWorkViewModel

<h1>Add Literature Work</h1>
<link href="~/css/AddLitWork.css" rel="stylesheet" />
<form asp-action="Add" method="post">
    <div>
        <label asp-for="Name">Literature Work Name</label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="AuthorId">Author</label>
        <select asp-for="AuthorId" asp-items="Model.Authors">
            <option value="">Select an Author</option>
        </select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>

    <h3>Parts</h3>
    <div id="partsContainer">
        @{
           
            var partNames = new List<string> { "TopicOfWork", "GoalOfWork", "Style", "HistoricalContent", "Themes" };
        }

        @for (int i = 0; i < partNames.Count; i++)
        {
            <div class="form-group">
                <label>@partNames[i]</label>
                <textarea asp-for="Parts[i].Content"></textarea>
                <input type="hidden" asp-for="Parts[i].Name" value="@partNames[i]" />
                <input type="hidden" asp-for="Parts[i].Type" value="@partNames[i]" />
                <span asp-validation-for="Parts[i].Content" class="text-danger"></span>
            </div>
        }
    </div>

    <button type="submit">Add Literature Work</button>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
