@model IEnumerable<LiteratureProject.Core.Models.LiteratureWorkModels.LiteratureWorkDisplayViewModel>

@{
    ViewData["Title"] = "Literature Works";
}
<link href="~/css/LiteratureMine.css" rel="stylesheet" />
<h1>Literature Works</h1>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Teacher</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in Model)
            {
                <tr>
                    <td>@work.Name</td>
                    <td>@work.AuthorName</td>
                    <td>@work.TeacherName</td>
                    <td>
                        <a href="@Url.Action("Details", "Literature", new { id = work.Id })" class="btn-primary">
                            View Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
