<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/MainPage.css">
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Logo</a>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#">Литература</a></li>
                <li><a href="#">Български</a></li>
                <li><a href="#">Приятели</a></li>
                <li><a href="#">Регистрирай се</a></li>
                <li><a href="#">Влез</a></li>
            </ul>

        </nav>
    </header>
    <main>
       @RenderBody()
    </main>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>