<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>
    <section class="firstSection">
        <div class="imgContainer">
            <img src="https://cdn.prod.website-files.com/674378fc9212c6ea34733bf0/674378fd9212c6ea34733ce7_pexels-julia-m-cameron-4145151.avif" alt="">
        </div>
        <article class="mainArticle">
            <nav>
                <ul>
                    <li <a href="/Identity/Account/Register">Български</a></li>
                    <li <a href="/Identity/Account/Register">Литература</a></li>
                   <li <a href="/Identity/Account/Register">Тествай се</a></li>
                    
                        <li style="background-color: #ffd4a3"><a href="/Identity/Account/Login">Влез</a></li>
                    
                </ul>
            </nav>
            <section class="headerInfo">
                <h1>Най-ефективният начин да се подготвиш за матурата</h1>
                <p>Ние ще се погрижим да изкарате възможно най-добрата оценка</p>
            </section>

        </article>
    </section>
    <section class="secondSection">
        <div class="lineHolder">
            <article>
                <blockquote>
                    <p>"Това приложение промени начина, по който анализирам литературни произведения! Всичко е толкова удобно и лесно за употреба – мога да се фокусирам върху съдържанието, без да губя време в търсене и организация. Наистина невероятно!"</p>
                    <p>Ники, 12-ти клас</p>
                </blockquote>
            </article>
            <article>
                <a href="/Identity/Account/Register">Регистрирай се</a>
            </article>
            <article>
                <a href="/Identity/Account/Login">Влез</a>
            </article>
        </div>

    </section>
</body>
</html>