<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/MainPage.css">
</head>
<body>
    <section class="firstSection">
        <div class="imgContainer">
            <img src="https://cdn.prod.website-files.com/674378fc9212c6ea34733bf0/674378fd9212c6ea34733cda_pexels-max-fischer-5212339.avif" alt="">
        </div>
        <article class="mainArticle">
            <nav>
                <ul>
                    <li> <a asp-controller="Bulgarian" asp-action="Index">Български</a></li>
                    <li> <a asp-controller="Literature" asp-action="Index">Литература</a></li>
                    <li> <a asp-controller="Testing" asp-action="ChooseDeck">Тествай се</a></li>
                    <li style="background-color: #ffd4a3"> <a asp-controller="Profile" asp-action="Index">Профил</a></li>
                </ul>
            </nav>
            <div class="wrapper">
                <section class="headerInfo">
                    <h1>Виж всички възможности</h1>

                </section>
                <section class="options">
                    <article>
                        <h2>Български</h2>
                        <p>Създавайте тестета, задачи и още</p>
                        <a asp-controller="Bulgarian" asp-action="Index">Опитай</a>
                    </article>
                    <article>
                        <h2>Литература</h2>
                        <p>Добавете анализи, четете и се забавлявайте</p>
                        <a asp-controller="Literature" asp-action="Index">Опитай</a>
                    </article>
                    <article>
                        <h2>Тестове</h2>
                        <p>Тествайте уменията си по български език</p>
                        <a asp-controller="Testing" asp-action="ChooseDeck">Опитай</a>
                    </article>
                    <article>
                        <h2>Профил</h2>
                        <p>Вижте профила си</p>
                        <a asp-controller="Profile" asp-action="Index">Опитай</a>
                    </article>


                </section>
            </div>
        </article>
    </section>

</body>
</html>