<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/MainPage.css">
</head>
<body>
    <section class="firstSection">
        <div class="imgContainer">
            <img src="https://cdn.prod.website-files.com/674378fc9212c6ea34733bf0/674378fd9212c6ea34733cda_pexels-max-fischer-5212339.avif" alt="">
        </div>
        <article class="mainArticle">
            <nav>
                <ul>
                    <li> <a asp-controller="Bulgarian" asp-action="Index">Български</a></li>
                    <li> <a asp-controller="Literature" asp-action="Index">Литература</a></li>
                    <li> <a asp-controller="Testing" asp-action="ChooseDeck">Тествай се</a></li>
                    <li style="background-color: #ffd4a3"> <a asp-controller="Profule" asp-action="Index">Профил</a></li>
                </ul>
            </nav>
            <div class="wrapper">
                <section class="headerInfo">
                    <h1>Виж всички възможности</h1>

                </section>
                <section class="options">
                    <article>
                        <h2>Вижте тестовете</h2>
                        <p>Тествайте уменията си</p>
                        <a asp-controller="Testing" asp-action="ChooseDeck">Тестове</a>
                    </article>
                    <article>
                        <h2>Виж тестета</h2>
                        <p>Вижте какво сте създали</p>
                        <a asp-controller="Bulgarian" asp-action="MyDecks">Моите тестета</a>
                    </article>
                    <article>
                        <h2>Добавете нови задачи</h2>
                        <p>Създайте задачи и тренирайте другите</p>
                        <a asp-controller="Bulgarian" asp-action="AddProblem">Добави задача</a>
                    </article>
                    <article>
                        <h2>Добави свое тесте</h2>
                        <p>Добавете още тестета по български</p>
                        <a asp-controller="Bulgarian" asp-action="AddDeck">Добави тесте</a>
                    </article>


                </section>
            </div>
        </article>
    </section>

</body>
</html>