@model IEnumerable<LiteratureProject.Core.Models.BulgarianModels.DeckDisplayModel>

@{
    ViewData["Title"] = "My Decks";
}
<link href="~/css/MyDecks.css" rel="stylesheet" />
<h1>All Decks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Topic</th>
            <th>Created By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deck in Model)
        {
            <tr>
                <td>@deck.Name</td>
                <td>@deck.Topic</td>
                <td>@deck.CreatedBy</td>
                <td>
                    <a asp-action="MyDeck" asp-controller="Bulgarian" asp-route-id="@deck.Id" class="btn btn-primary">View Deck</a>
                </td>
            </tr>
        }
    </tbody>
</table>
