@model LiteratureProject.Areas.Admin.Models.AssignRoleViewModel

<h2>Assign Role to User</h2>

<form asp-action="AssignRoleToUser" method="post">
    <div>
        <label for="userSelect">Select User:</label>
        <select id="userSelect" name="SelectedUserId" class="form-control">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Value">@user.Text</option>
            }
        </select>

       
    </div>

    <div>
        <label for="roleSelect">Select Role:</label>
        <select id="roleSelect" name="SelectedRole" class="form-control">
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Value">@role.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Assign Role</button>
</form>